
.card--skel{
  width: 184px ;
  height: 280px;
  border-radius: 16px;

  position: relative;
  flex-shrink: 0;
}

.title--skel{
  height: 34px;
  width: 168px;
  margin: 5px 8px;
  border-radius: 10px;

  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;

  background: linear-gradient(90deg, rgb(203, 198, 204) 10%, rgb(242, 229, 246) 50%, rgb(203, 198, 204) 100%);
  background-size: 200% 100%;
}
@media (max-width: 768px) {
  .card--skel{
    width: 147px;
    height: 224px;
  }
  .title--skel{
    height: 32px;
    width: 131px;
  }
  
}
