.active{
    background-color: black;
    color: white !important;
}
button{
}
.button:hover{
    color: inherit;
    box-shadow: none;
    transform: none;
    border-color: inherit;
    font: inherit;
    background: inherit;
}