*{
  font-size: 20px;
}
.filter__container {
  width: 85vw;
  background-color: #F5F5F5;
  padding: 10px 20px;
  border-radius: 30px;
}
.btn{
  font-size: 16px;
  font-weight: 600;
  
  padding: 3px 10px;
  color: #333333;
  border: 1px solid black;
  
  border-radius: 16px;

}
.order__container, .limit__container, .direction__container, .explicitGenre__container, .type__container, .demographic__container{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;  
}
[class*="btn__container"] {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5px;
  background-color: #e4eaec;
  padding: 5px ;
  margin-top: 5px;
  border-radius: 19px;
  flex-grow: 0;
}
.order__container, .limit__container, .direction__container, .genre__container, .theme__container, .demographic__container, .type__container, .explicitGenre__container {
  background-color: #e4eaec;
  padding: 5px;
}

