.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #DCC5B2;
  max-width: 100vw;
}


.manga__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
  padding: 30px;
  background-color: #F0E4D3;
}

@media (max-width: 768px) {
  .manga__container {
    gap: 10px;
    padding: 20px;
  }
}
