.card--skel {
  width: 186px;
  height: 282px;
  border-radius: 10px;

  position: relative;
  flex-shrink: 0;
}

.title--skel {
  height: 34px;
  width: 168px;
  margin: 5px 8px;
  border-radius: 10px;

  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #000000a6;
}

@media (max-width: 768px) {
  .card--skel {
    width: 147px;
    height: 224px;
  }

  .title--skel {
    height: 32px;
    width: 131px;
  }

}
