.card--skel {
  width: 186px;
  height: 282px;
  border-radius: 10px;

  position: relative;
  flex-shrink: 0;

  /* Shimmer Effect */
  background: linear-gradient(125deg, #F0E4D3 30%, #DCC5B2 50%, #F0E4D3 70%);
  background-size: 300% 100%;
  animation: shimmer 2.5s infinite linear;
}

@keyframes shimmer {
  0% {
    background-position: 300% 0;
  }

  100% {
    background-position: 0 0;
  }
}

.title--skel {
  height: 34px;
  width: 168px;
  margin: 5px 8px;
  border-radius: 10px;

  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #000000a6;
}

@media (max-width: 768px) {
  .card--skel {
    width: 147px;
    height: 224px;
  }

  .title--skel {
    height: 32px;
    width: 131px;
  }

}
